/* Snow Animation */
@keyframes snowfall {
  0% { background-position: 0px 0px; }
  100% { background-position: 0px 600px; /* Matches Lowest Common Multiple of background sizes for smoothness */ }
}

.snow-layer {
  pointer-events: none;
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  background-image: 
    radial-gradient(2px 2px at 20px 30px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 50px 160px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0));
  background-size: 200px 200px;
  z-index: 20;
  /* Seamless infinite loop using background position */
  animation: snowfall 10s linear infinite;
  opacity: 0;
  transition: opacity 8s ease-in-out;
}

.snow-layer.layer-2 {
  background-image: 
    radial-gradient(3px 3px at 10px 10px, #fff, rgba(0,0,0,0)),
    radial-gradient(3px 3px at 50px 50px, #fff, rgba(0,0,0,0)),
    radial-gradient(3px 3px at 100px 90px, #fff, rgba(0,0,0,0));
  background-size: 300px 300px;
  animation: snowfall 15s linear infinite;
  /* Start at a different offset */
  animation-delay: -5s; 
}

/* Active snow state - just fade in */
.snow-layer.active {
  opacity: 0.6;
}

.snow-layer.layer-2.active {
  opacity: 0.4;
}
